# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo[srv]==3.12.3
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
